<h1>Log in</h1>

<%= form_tag session_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
  <div class="login-signup">Don't have an account? <a href="/users/new">Sign up here!</a></div>


  <div class="future-events--title"><h1>Upcoming Events</h1></div>
  <div class="future-events--list">
  	<% if @events.empty? %>
  	<div class="future-events_empty">Sorry no upcoming events! Login to create one.</div>
  	<% else %>
		<% @events.each do |event| %>
		<% link_to event.name + "\n", event_url(event) %>
		<% end %>
	<% end %>
  </div>
<% end %>

<div class="future-events--calendar">
  <div class="future-events--calendar--title">
    <h3><%= t('date.month_names')[Date.today.month] %></h3>
  </div>
  <table class="table table-bordered">
    <tr>
      <th> Sunday </th>
      <th> Monday </th>
      <th> Tuesday </th>
      <th> Wednesday </th>
      <th> Thursday </th>
      <th> Friday </th>
      <th> Saturday </th>
    </tr>
    <% Date.today.beginning_of_month.beginning_of_week(:sunday).upto(Date.today.end_of_month.end_of_week(:sunday)) do |date| %>
      <% if date.sunday? %>
        <tr><td><%= date.day %></td>
      <% elsif date.saturday? %>
        <td><%= date.day %></td><tr>
      <% else %>
        <td><%= date.day %></td>
      <% end %>
    <% end %>
    <!--Date.today.beginning_of_month.wday // weekday of month (empty cells)-->

  </table>
</div>