

<div class="future-events--calendar">
  <div class="future-events--calendar--title">
    <h3><%= t('date.month_names')[Date.today.month] %> <%=Date.today.year%></h3>
  </div>

  <table class="table table-bordered table-calendar">
    <tr>
      <th> Sunday </th>
      <th> Monday </th>
      <th> Tuesday </th>
      <th> Wednesday </th>
      <th> Thursday </th>
      <th> Friday </th>
      <th> Saturday </th>
    </tr>
    <% Date.today.beginning_of_month.beginning_of_week(:sunday).upto(Date.today.end_of_month.end_of_week(:sunday)) do |date| %>
      <% if date.sunday? %>
        <tr></tr>
      <% end %>

      <td>
        <%= date.day %>
        <% day_events = @events.select { |event| event.occurs_at.to_date == date } %>
        <% if !day_events.empty? %> 
          <ul>
            <% day_events.each do |event| %>
              <li>
              <%= link_to event.name, event_url(event) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </td>

    <% end %>

  </table>
</div>

<h3>Upcoming Events</h3>
<% if @events.empty? %> 
Sorry no events available. Login to create one!
<% else %>
  <ul>
    <% @events.each do |event| %>
      <li>
      <%= link_to event.name, event_url(event) %>
      </li>
    <% end %>
  </ul>
<% end %>