
<div class="future-events--calendar">
  <div class="future-events--calendar--title">
    <span class="span1"><%= link_to "prev", root_url(:month => (@date << 1).month, :year => (@date << 1).year)%></span>
    <span class="cal-title span2"><%= t('date.month_names')[@date.month] %> <%=@date.year%></span>
    <span class="span1"><%= link_to "next", root_url(:month => (@date >> 1).month, :year => (@date >> 1).year)%></span>
  </div>
  
  
  <br>
  <br>
  <table class="table table-bordered table-calendar">
    <tr>
      <th> Sunday </th>
      <th> Monday </th>
      <th> Tuesday </th>
      <th> Wednesday </th>
      <th> Thursday </th>
      <th> Friday </th>
      <th> Saturday </th>
    </tr>
    <% @date.beginning_of_month.beginning_of_week(:sunday).upto(@date.end_of_month.end_of_week(:sunday)) do |date| %>
      <% if date.sunday? %>
        <tr></tr>
      <% end %>

      <td>
        <% if date.mon != @date.mon %>
          <span class="faded-dates"><%= date.day %></span>
        <% else %>
          <%= date.day %>
        <% end %>
        <% day_events = @events.select { |event| event.occurs_at.to_date == date } %>
        <% if !day_events.empty? %> 
         
            <% day_events.each do |event| %>
             <div class="progress">
              <%= link_to truncate(event.name, :length => 17), event_url(event) %>
           	 </div>
            <% end %>
         
        <% end %>
      </td>

    <% end %>

  </table>
</div>

<div class="well sidebar-nav">


<h3>Upcoming Events</h3>
<% if @events.empty? %> 
Sorry no events available. Login to create one!
<% else %>
  <ul class="nav nav-list">
    <% @events.each do |event| %>
      <li>
      <%= link_to event.name, event_url(event) %>
      </li>
    <% end %>
  </ul>
<% end %>
</div>