<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
  <div class="future-events--title"><h1>Upcoming Events</h1></div>
  <div class="future-events--list">
	<%  @events.each do |event| %>
	<%= event.name + "\n"%>
	<% end %>
  </div>
<% end %>