<h3>Events I Created</h3>
<a href="/events/new" class="btn btn-success">Create event</a>

<% if @created_events.empty? %>
  <div class="created-events_empty">Sorry you haven't created any events. <a href="/events/new">Create one here!</a></div>
<% else %>
  <table class="table table-hover">
    <tr>
      <th>
        Name
      </th>
      <th>
        Address
      </th>
      <th>
        Date
      </th>
      <th> 
        Options
      </th>
    </tr>
  <% @created_events.each do |event| %>
    <tr>
      <td>
        <%= link_to event.name, event_url(event) %>
      </td>
      <td>
        <%= event.street %>,
        <%= event.zip_code %>
      </td>
      <td>
        <%= event.occurs_at.try(:strftime, "%B %d, %l:%M %p") %>
      </td>
      <td>
        <%= link_to 'edit', edit_event_url(event), :class => "btn"%>
        <%= link_to "delete", event_url(event), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger"%>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<h3>Events I'm attending</h3>
<% if @events.empty? %>
  <div class="attending-events_empty">Sorry you haven't signed up to any events. <a href="/session/new">Check out the events here!</a></div>
<% else %>
  <table class="table table-hover">
    <tr>
      <th>
        Name
      </th>
      <th>
        Address
      </th>
      <th>
        Date
      </th>
    </tr>
  <% @events.each do |event| %>
    <tr>
      <td>
        <%= link_to event.name, event_url(event) %>
      </td>
      <td>
        <%= event.street %>,
        <%= event.zip_code %>
      </td>
      <td>
        <%= event.occurs_at.try(:strftime, "%B %d, %l:%M %p") %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>