<div>
  <h1><%= @event.name %></h1>
  <div>
    Street: <%= @event.street %></br>
    Zip code: <%= @event.zip_code %>
  </div>
  <div>
    Time: <%= @event.occurs_at.try(:strftime, "%B %d, %l:%M %p") %>
  </div>
  <div>
    Details: <%= @event.details %>
  </div>
  <% if @event.created_by?(current_user) %>
    <%= link_to 'edit', edit_event_url(@event) %>
  <% else %>
    <% if current_user %>
      <%= link_to 'attend', event_attend_url(@event, :user_id => current_user.id), :method => :post %>
    <% end %>
  <% end %>
</div>