<div class="navbar navbard-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href=""><%= image_tag("logo.png")%></a>
			
			<ul class="nav nav-centre">
        <li><%= link_to "View Events", "/session/new"  %></li>
      </ul>
      
			<div class="nav-collapse collapse">
			  <% if current_user.nil? %>
			    <%= form_tag session_path, :class => "navbar-form pull-right" do %>
			      <%= text_field_tag :email, params[:email], :placeholder => "Email address" %>
			      <%= password_field_tag :password, "", :placeholder => 'Password' %>
			      <%= submit_tag "Log in", :class => "btn" %>
  			    <%= link_to "New User", new_user_url, :class => "btn" %>
			    <% end %>
			  <% else %>
          <p class="navbar-text nav-centre pull-right">
            Welcome <%= current_user.name %>
          </p>
          <ul class="nav nav-centre">
            <li><%= link_to "My Events", "/events"  %></li>
            <li><%= link_to "Logout", session_url, :method => :delete %></li>
          </ul>  
			  <% end %>
			</div>
		</div> <!-- end of container -->
	</div> <!-- end of navbar-inner -->
</div>